<h1>Registration</h1>
<p>Please click below to confirm your registration</p>
<% provide(:title, 'Verify Registration') %>
<div>Click to verify your registration</div>
<%= form_tag("/registrations/verify", method: "post") do %>
  <%= hidden_field_tag(:id, @registration.id) =%>
  <%= hidden_field_tag(:nonce, @registration.nonce) =%>
  <%= submit_tag("Verify") %>
<% end %>

